@font-face {
  font-family:"iconfont";
  /* Project id 3747197 */
  src: url('//at.alicdn.com/t/c/font_3747197_cd2oxmbvh05.woff2?t=1667633710538') format('woff2'), url('//at.alicdn.com/t/c/font_3747197_cd2oxmbvh05.woff?t=1667633710538') format('woff'), url('//at.alicdn.com/t/c/font_3747197_cd2oxmbvh05.ttf?t=1667633710538') format('truetype');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bar-chart-fill:before {
  content:"\e611";
}
.icon-playlist:before {
  content:"\e668";
}
.icon-zuofanye:before {
  content:"\e643";
}
.icon-you:before {
  content:"\e617";
}
.icon-danquxunhuan:before {
  content:"\e66d";
}
.icon-ziyuanldpi:before {
  content:"\e60f";
}
.icon-suiji:before {
  content:"\e71f";
}
.icon-yuandiancaidan:before {
  content:"\e6a9";
}
.icon-xiangzuo:before {
  content:"\e65e";
}